services:
  mysql:
    image: mysql:8.0
    container_name: futfriend-mysql
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 10s
      retries: 5
    networks:
      - futfriend-net

  backend:
    build: .
    container_name: futfriend-backend
    restart: always
    ports:
      - "5500:5500"
    env_file:
      - .env
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - futfriend-net
    volumes:
      - .:/app
      - /app/node_modules
      - /app/node_modules/.prisma

  frontend:
    build: ../frontend
    container_name: futfriend-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    
networks:
  futfriend-net:
    driver: bridge
